*{
  margin: 0;
  padding: 0;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: red;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   index
   ========================================================================== */
html, body {
  height: 100%;
  text-rendering: optimizelegibility; }

body {
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wrap{
  height: 50%;
  position: relative;
}
.wrap a{
  display: inline-block;
  padding: 20px;
    transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.wrap a:hover{
  background-color: orangered;
}

.wrap p{
  position: absolute;
  left: 50%;
  margin-left: -88px;
  text-align: center;
  font-size: 0;
}
.up p {
  bottom: 0;
  background-color: #34495e;
}
.down p {
  top: 0;
  background-color: #2c3e50;
}
.up{
  background-color: #2c3e50;
}
.down{
  background-color: #34495e;
}

/*icon*/
@font-face {
  font-family: "fontello";
  font-weight: normal;
  font-style: normal;
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format("eot"), url("../font/fontello.svg#fontello") format("svg"), url("../font/fontello.woff") format("woff"), url("../font/fontello.ttf") format("truetype"); }

[class*="icon-"] {
  display: inline-block;
  font-family: fontello;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 48px;
  height: 48px;
  width: 48px;
  color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-github:before {
  content: '\e800'; }

.icon-weibo:before {
  content: '\e802'; }

.icon-email:before {
  content: '\e801'; }

.icon-blog:before {
  content: '\e803'; }
